.lock
.running
dialog_settings.xml
*.dat
*.ser
*.png
*.zip
*.log
*Cache
*History.xml

/.plugins/org.eclipse.core.resources/
/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs
/.plugins/org.eclipse.epp.usagedata.recording/
/.plugins/org.eclipse.jdt.launching/
/.plugins/org.eclipse.m2e.core/
/.plugins/org.eclipse.m2e.logback.configuration/
/.plugins/org.eclipse.ui.workbench/
/.plugins/org.eclipse.wb.discovery.core/
/.plugins/org.eclipse.wst.internet.cache/cache.xml
/.plugins/org.eclipse.wst.xml.core/*_catalog.xml
