# ignore everything
*

# except for
!/.gitignore
!/README.md
!/Plugins.md
!/version.ini

# don't ignore preferences files
!/.plugins/
!/.plugins/org.eclipse.core.runtime/
!/.plugins/org.eclipse.core.runtime/.settings/
!/.plugins/org.eclipse.core.runtime/.settings/*

# also ignore usage data preferences
/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs
